.brands {
	padding: 45px 0;
	background-color: #f4f3f3;
	&__block {
		display: flex;
		justify-content: space-between;
		
	}
	&__link {
		display: flex;
		align-items: center;
		text-align: center;
	}
	&__image {
		display: inline-block;
		filter: grayscale(100%);
		opacity: .3;
		transition: all .5s ease;
		&:hover {
			filter: grayscale(0%);
			opacity: 1;
		}
	}
}