.section-head {
	&__right {
		position: relative;
		padding-left: 110px;
	}
	&__btn {
		color: $accent;
		border: $accent solid 1px;
		transition: all .5s ease;
		&:hover {
			background-color: $accent;
			color: #fff;
		}
	}
}

.new-slider {
	margin-right: -10px;
	margin-left: -10px;
	&__item {
		margin: 15px 0;
	}
	&__column {
		padding-right: 10px;
		padding-left: 10px;
	}
}

.product-card {
	position: relative;
	padding: 30px 25px;
	width: 277px;
	height: 470px;
	text-align: center;
	transition: all .5s ease;
	&:hover {
		box-shadow: 0px 4px 10px 0px rgba(8, 40, 49, 0.11);
	}
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 182px;
		width: 100%;
	}
	&__name {
		margin-top: 25px;
		margin-bottom: 0;
	}
	&__link {
		min-height: 96px;
		font-size: 15px;
		font-weight: 700;
		color: $text;
		line-height: 1.6;
		text-align: center;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&__info-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 21px;
	}
	&__wishlist-icon {
		background: url(../img/heart-o.png);
		width: 22px;
		height: 20px;
		transition: all .5s ease;
		&:hover {
			background: url(../img/heart-h.png);
		}
	}
	&__compare-icon {
		background: url(../img/compare-o.png);
		width: 22px;
		height: 20px;
		transition: all .5s ease;
		&:hover {
			background: url(../img/compare-h.png);
		}
	}
	&__price {
		text-align: left;
		line-height: 1;
	}
	&__price-old {
		display: block;;
		font-size: 18px;
		font-weight: 700;
		color: #737678;
		text-decoration: line-through;
	}
	&__price-new {
		font-size: 20px;
		font-weight: 900;
		color: $text;
	}
	&__cart-btn {
		padding: 14px 22px;
		background-color: $accent;
		line-height: 0.9;
		transition: all .5s ease;
		&:hover {
			background-color: #62a53a;
		}
	}
}

.reting {
	&__item {
		display: inline-block;
	}
}

.label {
	&--1 {
		position: absolute;
		top: 30px;
		left: 0;
	}
	&--2 {
		position: absolute;
		top: 56px;
		left: 0;
	}
	&--3 {
		position: absolute;
		top: 82px;
		left: 0;
	}
}

//<--- Dots Slick Slider
.slick-dots__custom {
	position: absolute;
	top: 9px;
	left: 0;
	li {
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #dcdcdc;
		border-radius: 8px;
		margin: 0 3px;
		cursor: pointer;
		button {
			border: none;
			background: #dcdcdc;
			display: block;
			height: 10px;
			width: 10px;
			line-height: 0px;
			font-size: 0px;
			padding: 5px;
			border-radius: 8px;
		}
		&.slick-active button {
			background-color: $accent;
		}
	}
}
//---> End Dots Slick Slider


